{
  "openapi": "3.0.3",
  "info": {
    "title": "Signalhaven Actions API",
    "version": "v6.1",
    "description": "Backend for GPT Actions and memory logging. Use /actions/list to enumerate available actions."
  },
  "servers": [{ "url": "https://signal-q.me" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/system/health": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Health" } }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "summary": "Version info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Version" } }
            }
          }
        }
      }
    },
    "/actions/list": {
      "get": {
        "summary": "List available actions",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ActionList" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/actions/chat": {
      "post": {
        "summary": "Chat + memory anchor",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ChatRequest" } }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ChatResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/actions/probe_identity": {
      "post": {
        "summary": "Identity probe",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/ProbeRequest" } }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ProbeResponse" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/memory/{user}": {
      "get": {
        "summary": "Read user memory (public demo endpoint)",
        "parameters": [{ "name": "user", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/MemoryRead" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Health": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" },
          "name": { "type": "string", "example": "signal_q" },
          "timestamp": { "type": "integer", "format": "int64" }
        },
        "required": ["status", "timestamp"]
      },
      "Version": {
        "type": "object",
        "properties": {
          "version": { "type": "string" },
          "environment": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "required": ["version"]
      },
      "ActionList": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": { "type": "string", "enum": ["chat", "probe_identity"] }
          }
        },
        "required": ["actions"]
      },
      "ChatRequest": {
        "type": "object",
        "properties": {
          "user": { "type": "string", "example": "aquil" },
          "prompt": { "type": "string" }
        },
        "required": ["prompt"]
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "reply": {
            "type": "object",
            "properties": {
              "text": { "type": "string" },
              "model": { "type": "string" }
            },
            "required": ["text"]
          }
        },
        "required": ["ok", "reply"]
      },
      "ProbeRequest": {
        "type": "object",
        "properties": {
          "user": { "type": "string" },
          "context": { "type": "string" }
        }
      },
      "ProbeResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "result": {
            "type": "object",
            "properties": {
              "stability": { "type": "number" },
              "coherence": { "type": "number" },
              "authenticity": { "type": "number" },
              "recommendation": { "type": "string" }
            },
            "required": ["stability","coherence","authenticity","recommendation"]
          }
        },
        "required": ["ok", "result"]
      },
      "MemoryRead": {
        "type": "object",
        "properties": {
          "user": { "type": "string" },
          "items": { "type": "array", "items": { "type": "object" } }
        },
        "required": ["user", "items"]
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": { "error": { "type": "string", "example": "Unauthorized" } }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  }
}
