openapi: 3.1.0
info:
  title: Signalhaven Actions API
  version: v1.0.1
  description: |
    Actions+Memory backend for Custom GPTs on Cloudflare Workers.
    - GET /version (public)
    - GET /system/health (auth optional; see AUTH_DISABLED)
    - POST /actions/system_health (auth)
    - POST /actions/list (auth)
    - POST /actions/echo (auth)
    - POST /actions/log_memory (auth)
    - GET /memory/{id} (auth)
    - GET /openapi.yaml (public)
servers:
  - url: https://signal-q.me
    description: Cloudflare Worker Custom Domain
  - url: https://signal_q.catnip-pieces1.workers.dev
    description: Cloudflare workers.dev staging
  - url: http://127.0.0.1:8787
    description: Local dev
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GenericResponse:
      type: object
      properties:
        ok: { type: boolean }
        message: { type: string }
        ts: { type: string, format: date-time }
        version: { type: string }
    EchoInput:
      type: object
      properties:
        message: { type: string }
      required: [message]
    LogMemoryInput:
      type: object
      properties:
        sessionId: { type: string, description: Unique session key; defaults to IP+UA hash }
        payload:
          type: object
          additionalProperties: true
      required: [payload]
paths:
  /version:
    get:
      summary: Get version info
      operationId: getVersion
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /system/health:
    get:
      summary: Health check
      operationId: getHealth
      responses:
        '200': { description: OK }
  /actions/system_health:
    post:
      summary: Authenticated health report
      operationId: postSystemHealth
      responses:
        '200': { description: OK }
  /actions/list:
    post:
      summary: Enumerate available actions
      operationId: postActionsList
      responses:
        '200': { description: OK }
  /actions/echo:
    post:
      summary: Echo message for connectivity tests
      operationId: postEcho
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EchoInput' }
      responses:
        '200': { description: OK }
  /actions/log_memory:
    post:
      summary: Append a memory record to Durable Object
      operationId: postLogMemory
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LogMemoryInput' }
      responses:
        '200': { description: Stored }
  /memory/{id}:
    get:
      summary: Fetch memory thread by ID
      operationId: getMemory
      parameters:
        - in: path
          name: id
          schema: { type: string }
          required: true
      responses:
        '200': { description: OK }
  /openapi.yaml:
    get:
      summary: Serve this OpenAPI document
      operationId: getOpenAPI
      security: []
      responses:
        '200': { description: OK }
